{% extends 'base.html' %}

{% block content %}
<div class="all-items">

    <div class="container">
            <img src="../static/images/marvel-heroes-1.png" alt="Marvel Heroes" style="width:70%;" height="400px">
            <div class="centered">
                <h2>Welcome Marvel Army!</h2>
                <p>This is a website for the true fans of marvel! <br>
                This website contains all the information about everyone's favorite heroes. <br>
                You can visit different pages in the website to access all the resources that the website provides. <br>
                The website also allows you to create a profile and solidify yourself as a true fan.
                So, please join us and enjoy all the resources!</p>
            </div>
    </div>



    <!-- Middle Section -->

    <section class="middle">
        <div class="col-12" id="middle-text">
            <h2>These are the original six that started the Avengers</h2>
            <p>
                These six are among the heroes that are the most known.<br>
                If you would like to watch them in action head to the entertainment page on top.<br>
            </p>
        </div>
    </section>

    <div class="container text-center">
        <div class="row">
          <div class="col">
            <img src="../static/images/iron_man.jpg" alt="Iron-Man" width="200px" height="160px">
          </div>
          <div class="col">
            <img src="../static/images/Captain-america.jpg" alt="Captain America" width="200px" height="160px">
          </div>
          <div class="col">
            <img src="../static/images/black_widow.jpeg" alt="Black Widow" width="200px">
          </div>
        </div>
      </div>
    
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <img src="../static/images/hulk.jpg" alt="Hulk" width="200px" height="250px">
          </div>
          <div class="col">
            <img src="../static/images/Thor.webp" alt="Thor" width="200px" height="250px">
          </div>
          <div class="col">
            <img src="../static/images/Hawkeye.webp" alt="Hawkeye" width="200px" height="250px">
          </div>
        </div>
    </div>

    <!-- Footer section -->
    <div class="end">
        <a href="https://www.marvel.com/">
            <img src="../static/images/Avengers.webp" alt="USA Logo" width="120px">
        </a>
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Info:</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://www.google.com/maps/place/Marvel/@40.7490139,-74.1018073,12z/data=!4m9!1m2!2m1!1swhere+is+marvel+studios+located!3m5!1s0x89c259f50535bdb5:0x87464ff42fac04af!8m2!3d40.7211496!4d-74.0087358!15sCh93aGVyZSBpcyBtYXJ2ZWwgc3R1ZGlvcyBsb2NhdGVkkgEJYXJjaGl0ZWN04AEA">Located</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.marvel.com/">Official Website</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.disneyplus.com/">Platform</a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Socials:</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://www.instagram.com/">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/">Twitter</a>
            </li>
          </ul>
    </div>


    
</div>

{% endblock content %}